#grid-container{
    width: 800px;
    height: 800px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
}
.square{
    border: 0.1px solid black;
    box-sizing: border-box;
}
#wall{
    background-color: black;
}
#free:hover{
    cursor: pointer;
    background-color: rgb(199, 204, 209);
}
#selected{
    background-color: rgb(255, 0, 0);
}
@media (max-width: 800px ) or (max-height: 600px)
{
    #grid-container{
        width: 350px;
        height: 350px;
        
    }
}
